.foliaViewer > div {
	margin-bottom: 15px;
}
.foliaViewer span {
	display: table-cell;
	width: 13;
}
.foliaViewer span:first-child {
	width: 30%;
}
.foliaViewer span:last-child {
	width: 30%;
}
.foliaViewer span[data-dependency-class]::before {
	content: attr(data-dependency-class);
	font-variant: small-caps;
	text-transform: lowercase;
	font-size: 0.6em;
	padding-right: 5px;
}
.foliaViewer span[title] {
	border-bottom: 1px dotted black;
}
.foliaViewer span.custom {
	background-color: lavender;
}
/*.foliaViewer .p::before {
	content: "Paragraph";
	font-variant: small-caps;
	text-transform: lowercase;
	font-size: 0.6em;
	padding-right: 5px;
}*/
.foliaViewer .p {
	border: 3px solid navy;
}
.foliaViewer .p > span.token {
	padding: 3px;
}
/*.foliaViewer .s::before {
	content: "Sentence";
	font-variant: small-caps;
	text-transform: lowercase;
	font-size: 0.6em;
	padding-right: 5px;
}*/
.foliaViewer .s > span {
	font-variant: small-caps;
	text-transform: lowercase;
	font-size: 0.6em;
	text-align: center;
}
.foliaViewer .s {
	background-color: powderblue;
	display: table;
	border-collapse: separate;
	border-spacing: 3px;
	width: 100%;
}
.foliaViewer .w {
	background-color: aliceblue;
	display: table-row;
}
.foliaViewer .keyword {
	font-weight: bold;
	color: green;
}
.foliaViewer .negative {
	color: red;
}